
        <footer class="footer-container">
            <div class="row">
                <!-- Add dynamic date later -->
                <div class="col copyright">© Copyright <%= new Date().getFullYear(); %></div> 

                <div class="icon-container col">
                    <div class="social-cover"><a href="https://www.instagram.com/2109_yuganshu_9012/"><img class="social" src="/assets/instagram logo.png" alt="instagram"></a></div>
                    <div class="social-cover"><a href="https://github.com/programmingenjoyer219"><img class="social" src="/assets/github logo.png" alt="github"></a></div>
                    <div class="social-cover"><a href="https://www.linkedin.com/in/yuganshu-mohan-906b73274"><img class="social" src="/assets/linkedin logo.png" alt="linkedin"></a></div>
                </div>

            </div>
        </footer>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    </body>
</html>
