<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Post Created Successfully</title>
        <!-- fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <!-- styling -->
        <style>
            .message-wrapper {
                height: 90vh;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .button-grid {
                display: grid;
                grid-template-rows: 1fr;
                grid-template-columns: 1fr 1fr;
                column-gap: 15px;

                margin-bottom: 30px;
            }

            .post-creation-icon {
                height: 60px;
                margin-bottom: 30px;
            }

            .success-message-box {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                padding: 30px;

                border-radius: 5px;

                background-color: #86B6F6;
                color: #24282b;

                box-shadow: 0px 5px 5px 0px #24282b;
            }

            .button-grid button {
                width: 100px;
                height: 40px;
                border: 0px;
                border: 4px solid #176B87;
                border-radius: 4px;

                font-family: "Raleway", sans-serif;
                font-optical-sizing: auto;
                font-weight: bold;
                font-style: normal;

                background-color: #176B87;
                color: #EEF5FF;

                transition: background-color 2s, border 2s;
            }

            .button-grid button:hover {
                background-color: #86B6F6;
            }

            h2 {
                font-family: "Josefin Sans", sans-serif;
                color: #24282b;
                font-optical-sizing: auto;
                font-style: normal;
            }

            body, html {
                background-color: #EEF5FF;
            }

            @media(max-width: 325px) {
                h2 {
                    font-size: 20px;
                }

                .email-icon {
                    height: 40px;
                }
            }
        </style>
    </head>
    <body class="message-wrapper">
        <div class="success-message-box">
            <h2>Post Created Successfully</h2>
            <img class="post-creation-icon" src="/assets/post-creation-icon.png" alt="">
            <div class="button-grid">
                <a href="/create_blog"><button>Create a new post</button></a>
                <a href="/read"><button>Read blogs</button></a>
            </div>
        </div>
    </body>
</html>